<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/tailwind.min.css">

    <title><%= title %> | pdfX</title>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/">Contact Us</a></li>
                </ul>
            </div>
            <a class="text-xl text-accent font-bold" href="/">pdfX</a>
        </div>
        <div class="navbar-end hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/">Home</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <div class="container px-24 my-3">
        <h2 class="text-4xl font-bold text-accent">pdfX - Merge your pdfs for free</h2>
        <form action="/merge" method="post" enctype="multipart/form-data">
            <div class="form-control my-6">
                <input type="text" id="uploaded_file_names" name="uploaded_file_names" placeholder="Uploaded file names here..." class="input input-bordered input-accent w-full focus:outline-none" readonly />
            </div>
            <div class="form-control my-6">
                <input type="file" id="pdfs" name="pdfs" class="file-input file-input-bordered file-input-accent w-full"
                    accept="application/pdf" multiple />
            </div>
            <button class="btn btn-accent">Merge</button>
        </form>
    </div>

    <script>
        let pdfFiles = document.querySelector('input#pdfs');
        let uploaded_file_names = document.querySelector('input#uploaded_file_names');
        const filenames = [];

        pdfFiles.addEventListener('input', (e) => {
            const files = e.target.files;
            for (let i = 0; i < files.length; i++) {
                filenames.push(files[i].name);
            }

            uploaded_file_names.value = filenames.map((filename) => {
                return filename;
            }).join(", ");
        })
    </script>
</body>
</html>